<footer class="footer">
    <small>
	The <a href="http://github.com/mattpritchard4/catalyst">Catalyst Creator</a>
	by <a href="http://mattpritchard.io">Matt Pritchard</a>
    </small>
    <nav>
	<ul>
	    <li><%= link_to "About",   about_path %></li>
	</ul>
    </nav>
</footer>
